#bigtext p {
	color: white;
	font-size: 20px;
}

.sweep-layer {
	padding-top: 0px !important;
}

.what-we-do {
	color: white !important;
	font-size: 15px;
}

.what-we-do-p {
	color: white !important;
	font-size: 12px !important;
	padding: 10px;
}

/*
@media (max-width: 1200px) {
	.what-we-do-row {
		display: flex;
		flex-wrap: nowrap;
	}

	.what-we-do {
		color: white !important;
		font-size: 14px;
	}

	.what-we-do-p {
		color: white !important;
		font-size: 12px !important;
		padding: 10px;
	}
}
*/

/*
@media (min-width: 992px) {
    .what-we-do-row {
        display: flex;
        flex-wrap: nowrap;
    }
    .what-we-do {
        color: white !important;
        font-size: 12px;
    }
    .what-we-do-p {
        color: white !important;
        font-size: 11px !important;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .what-we-do {
        text-align: center;
        padding-top: 25%;
    }
    .what-we-do-p {
        color: white !important;
        font-size: 17px !important;
        padding: 20px;
        text-align: center;
        padding-top: 20%;
    }
}*/

/*
@media only screen and (max-width: 992px) {
	.hero-section .typed-text {
		 height: 26px;
		margin-bottom: 20%;
	}
}
*/
